{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Draw card hand</h1>

<p>You draw {{ num_cards }} cards. Here is the value of the cards.</p>

<ul>
{% for draw in cardDraw %}
    <li>{{ draw }}</li>
{% endfor %}
</ul>

<p>Try to draw 
    <a href="{{ path('test_cardhand', {num: 5}) }}">5</a>
    or 
    <a href="{{ path('test_cardhand', {num: 10}) }}">10</a>
    cards.
</p>
{% endblock %}