{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{# ändrade mitt namn till body för hade ej main,
när kollade i min base.html.twig fil som namnet! #}
{# {% block main %} #}
{% block body %}
<h1>Card game</h1>

                <div class="info">
                    <p>Länkar till card routerna:</p>

                    <li><a href="{{ path('test_draw_card') }}">draw routen</a></li>
                    <li><a href="{{ path('card_init_get') }}">init routen</a></li>
                </div>

<p>Strukturen för mina klasser:</p>

<p>UML KLASS DIAGRAM LÄGGS IN HÄR!</p>


{% endblock %}