{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{# ändrade mitt namn till body för hade ej main,
när kollade i min base.html.twig fil som namnet! #}
{# {% block main %} #}
{% block body %}
<h1>Card game</h1>


<p>Strukturen för mina klasser:</p>

<p>UML KLASS DIAGRAM LÄGGS IN HÄR!</p>


{% endblock %}