/* body {
    background-color: skyblue;

    margin: 0 auto;
    width: 800;
    /*max-width: 1000px;
} */

/* justerade min css body lite nu när
min css funkar så la till lite kod från
ovan som jag hade med innan i nedan body
för hade 2st body innan råkade jag se. 
och kommenterade ut det som ej passade som jag 
fick ang.stylingen från kmom02! */

body {
    /* background: url('../images/background.jpg'); */
    background-color: white;
    background-size: cover;
    padding-left: 1%;
    padding-right: 1%;

    /* kod lite från vad jag hade tidigare */
    margin: 0 auto;
    width: 800;
    max-width: 1000px;


    /* från gen kmom02 lägger
    in visa saker från detta här nu bara för att.  */
    /* margin: 0 auto; */
    /* max-width: 800px; */
    /* font-size: 2em; */

}



/* body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
    font-size: 2em;
} */


header {
    height: 150px;

}

/* 
kommenterar ut denna pga har h1 i kmom02 gen som kör med 
nu så länge */
/* h1 {
    border-bottom: 4px double #21db75;
} */

/* for navbar */

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
    padding: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}




/* for footer */

.footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    background-color: red;
    color: white;
    text-align: center;
}


/* about */

.info {

    /* background-color: #21db75; */
    padding: 2%;
    font-size: 1.1rem;
}

@import "two_column_layout.css";
@import "footer.css";



.shownimage {
    padding-left: 2%;
}

.shownimage img {
    width: 50%;
    max-width: 300px;
    height: auto;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

li {
    margin: 0;
    padding-left: 0;
    padding-bottom: 2.5%;
}



/* ----------------------

FRÅN KMOM=kmom02 GEN  */


input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}

.die {
    /* font-size: 2em; */
    font-size: 4em;
}



.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flash-warning:before {
    content: "⚠";
}


/* -------------------------  */

.cardBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    flex-direction: row;
    /* background-color: palevioletred; */
    background-color: rgb(125, 185, 223);
}



.carddiv {

    display: flex;
    justify-content: center;
    align-items: center;
    /* 
    background-color: rgb(107, 166, 226); */
    background-color: white;
    border: black solid 1px;
    /* width: 10%; */
    /* width: 50px;
    height: 70px; */

    width: 100px;
    height: 140px;
    border-radius: 20px;

    /* height: 12%; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    font-size: 2.5em;
    font-weight: 600;

    margin-left: 7%;
}


/* .card {

    font-size: 4em;
} */


.testCardInfo {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    color: chartreuse;
}

.cardeckddiv {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(200, 198, 200);
    border: black solid 1px;
    /* width: 10%; */
    /* width: 50px;
    height: 70px; */

    width: 50px;
    height: 70px;
    border-radius: 20px;

    /* height: 12%; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    font-size: 1.5em;
    font-weight: 600;

    margin-left: 7%;
}


.red {
    color: red;
}

.black {
    color: black;
}



.subheading {
    font-weight: 700;
    font-size: 1.7rem;
}

.classTitles {

    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}


.classText {
    margin-left: 2rem;
    /* margin-top: 0.4rem; */
}

.umldiv {
    margin-top: 1rem;
}