{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}



{% block body %}
    <div class="two-col-layout">
        <main class="main">
            <article class="article">
                <h1>Redovisning</h1>
                <h2 id="kmom01">kmom01</h2>

                    <p>
                        Jag har jobbat med objektorientering i tidigare python kurser men även i
                        C# för länge sedan på gymnasiet. Så har en del förkunskaper kring just detta.

                        PHPs modell för klasser och objekt bygger på så kallad "objektorienterad programmering".
                        Det funkar på så sätt att man skapar klasser som man definerar med egenskaper (så kallade
                        variabler) och metoder (så kallade funktioner).
                        Ett exempel: En klass är en ritning för en bil och ett objekt är den
                        faktiska bil som är byggd enligt ritningen.

                        Jag uppfattar min kod som väldigt tydlig och att den gör den den ska och
                        att jag använt tydliga variabelnamn mm, för att man lätt ska veta vad som är vad.
                        Filernas struktur är även uppbyggda på samma sätt som vi gjorde i övningen för filernas upplägg
                        vilket fungerade väldigt bra. Ända skillnaden är att jag la till några CSS-filer för att
                        särskilda och tydligöra min CSS kod lite grann. I början tyckte jag att det var lite svårt
                        att förstå allt och hur allt hängde ihop men när jag sedan började programmera själv och verkligen
                        kom in i det gick det bra och nu förstår jag allt jättebra tycker jag.


                        Ang. <i>“PHP The Right Way”</i> så är delarna som <i>PHPDOC</i> och informationen under området <i>"Resources"</i>
                        de delar som kommer vara de mest värdefulla. I och med att att man aldrig kommer kunna allting med hur syntaxer
                        och alla inbyggda variabler fungerar och ser ut. Det är därför bra att ha dessa till sin hjälp. Jag tycker också området för 
                        <i>Security</i> verkar intressant, då det alltid är intressant att se tips och hur man ska tänka för att koden och det man
                        gör är säkert också. Så jag skulle väl säga att det även är säkerhetsdelen som man skulle vilja lära sig mer om.

                        Mitt TIL till nästa kmom är att jobba på exakt samma sätt som jag gjort då jag fortsatt vara nyfiken
                        och velat lära mig mer och förstå hur allting funkar och hänger ihop. Tar även med mig hur bra
                        jag lärt mig git och github nu!
                    </p>

                <h2 id="kmom02">kmom02</h2>

                    <p>Här kommer redovisningstexten för detta kursmoment.</p>

                <h2 id="kmom03">kmom03</h2>

                    <p>Här kommer redovisningstexten för detta kursmoment.</p>

                <h2 id="kmom04">kmom04</h2>

                    <p>Här kommer redovisningstexten för detta kursmoment.</p>

                <h2 id="kmom05">kmom05</h2>

                    <p>Här kommer redovisningstexten för detta kursmoment.</p>

                <h2 id="kmom06">kmom06</h2>

                    <p>Här kommer redovisningstexten för detta kursmoment.</p>

                <h2 id="kmom10">kmom10</h2>

                    <p>Här kommer redovisningstexten för detta kursmoment.</p>
            </article>
        </main>
            <aside class="aside">
                <h4>Länkar</h4>
                <ul>
                    <li><a href="#kmom01">kmom01</a></li>
                    <li><a href="#kmom02">kmom02</a></li>
                    <li><a href="#kmom03">kmom03</a></li>
                    <li><a href="#kmom04">kmom04</a></li>
                    <li><a href="#kmom05">kmom05</a></li>
                    <li><a href="#kmom06">kmom06</a></li>
                    <li><a href="#kmom10">kmom10</a></li>
                </ul>
            </aside>
    </div>

{% endblock %}