{% extends "base.html.twig" %}

{% block title %}Kortspelet tjugoett Game{% endblock %}
{# {% block main %} #}
{% block body %}
<h1>Kortspelet tjugoett</h1>


{# 
<div class="cardBody">
    <div class="carddiv">
        {{ cardString }}
    </div>
</div>
#}
<div class="gameBoard">
        {# <p>Spelplan</p> #}


    <div class="itemsonboard">
        <div class="playerdiv"
        {# <div class="itemdiv" #}
            <p>Spelare</p>
        </div>

        <div class="bankdiv"
        {# <div class="itemdiv" #}
            <p>Bank</p>
        </div>
    </div>
</div>


{# 
<p>Total cards left in deck: {{ remainingCards }}</p> #}


{% endblock %}